@import "tailwindcss";

:root {
  --primary: #2CFF05;
  --background: #282c33;
  --gray: #abb2bf;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-carter-one);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html{
    scroll-behavior: smooth;
  }

  body {
    background: var(--background);
    color: var(--gray);
    @apply font-primary
  }
}

.navbar-fixed {
  @apply fixed z-[999] bg-[var(--background)] opacity-70 backdrop-blur-3xl;
  backdrop-filter: blur(5px);
}
